body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #87CEEB;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background-color: #000;
    border: 2px solid #FFF;
}
